@import url("../../style/style.css");

#appointment_form {
  margin-top: 5rem;
}

section.location {
  margin: 0 auto;
  border: none;
  padding: 3rem;
}

section.location .address h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.address h5 {
  font-size: 1rem;
  font-weight: 400;
}

section.location p {
  font-size: 1rem !important;
}

#footer_contact {
  padding: 2rem 3rem;
}
/* #footer_contact #contactus {
} */

@media only screen and (min-width: 600px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
  #footer_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }

  #footer_contact #contactus {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}
