#achievemets_collection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1rem;
  margin-top: 2rem;
  background: #f7fbff;
}

#achievemets_collection .card {
  text-align: center;
  height: 13rem;
  width: 60%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 4px 1rem -14px black;
}

#achievemets_collection .card i {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.8rem;
  display: inline-block;
  color: darkslateblue;
  background: #fcd575;
  margin-bottom: 1rem;
}

#achievemets_collection .card span {
  font-weight: bold;
  color: #673de6;
  font-size: 2.4rem;
  font-family: "Ubuntu";
}

#achievemets_collection .card p {
  color: #9ba5b3;
  font-size: 1.2rem;
}
