a.button {
  display: block;
  width: max-content;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  background: #ea4b6a;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

a.button:hover {
  box-shadow: 0 2px 1rem -8px black;
}
