.contact {
  position: fixed;
  bottom: 2rem;
  left: 0.5rem;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  z-index: 10;
}

.contact .connect {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.6rem 0.7rem;
  border-radius: 2rem;
  box-shadow: 2px 0px 1rem -8px black;
  transition: 0.2s;
}

.contact .call {
  background: #ea4b6a;
}
.contact .whatsapp {
  background: #25d366;
}
.contact .email {
  background: #1472a1;
}

.contact .connect a i {
  color: white;
}

/* -----------Events----------- */
.contact .connect:hover {
  transform: scale(1.2);
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
  .contact {
    left: 2rem;
    bottom: 2.2rem;
  }

  .contact .connect {
    font-size: 2.3rem;
    padding: 0.6rem 0.9rem;
  }

  .contact .call {
    display: none;
  }
}
