#services {
  margin-top: 5rem;
  width: 100%;
  padding: 2rem;
  background: #f7fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#services h2 span {
  width: 15rem;
}

.service_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service_section h3 {
  font-size: 2rem;
  font-family: "B612";
  color: #343d48;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
  text-align: left;
}
.service_section img {
  width: 100%;
}
.service_section ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service_section ul li {
  font-family: "Ubuntu";
  font-size: 1.1rem;
  padding: 10px 0;
  list-style: none;
  border-bottom: 2px solid lightgray;
}

.service_button {
  display: block;
  margin: 2rem auto;
}

/*-------- Intersection Animation properties-------- */
.service {
  opacity: 0;
  transform: translateY(6rem) scale(0.5);
  transition: all 0.5s;
}

.service-2 {
  transition-delay: 0.1s;
}
.service-3 {
  transition-delay: 0.15s;
}
.service-4 {
  transition-delay: 0.2s;
}
.service-5 {
  transition-delay: 0.25s;
}
.service-6 {
  transition-delay: 0.3s;
}
.service-7 {
  transition-delay: 0.35s;
}
.service-8 {
  transition-delay: 0.4s;
}

.service_scroll_animation {
  opacity: 1;
  transform: translateY(0) scale(1);
}

@media only screen and (min-width: 768px) {
  #services {
    padding: 5rem;
    justify-content: center;
  }

  #services ul li {
    font-size: 1.3rem;
  }

  .service_section {
    width: 70%;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }

  .service_section ul {
    align-items: flex-start;
  }
}
