footer {
  background-color: #ffe5d9;
}
.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Nunito" !important;
}

footer .logo img {
  height: 4rem;
}

footer #contactus {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 8px 0;
}

footer #contactus h4,
footer #contactus a p {
  color: #343d48 !important;
}

.phone__email {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
}

#social_media {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials a i {
  font-size: 1.3rem;
  color: black;
}

.location {
  border-top: 2px solid #343d48;
  padding: 12px 0;
  border-bottom: 2px solid #343d48;
}

.location .address h4 {
  font-size: 1.2rem;
  color: #343d48 !important;
}

.location .address p {
  font-size: 1rem;
  margin: 10px 0;
  font-weight: 400;
  color: #343d48 !important;
}

.copyright {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  color: #525a66;
}

/* --------Map routing-------- */

.mapouter iframe {
  position: relative;
  height: 220px;
  width: 100%;
  z-index: 0;
  background: #fff;
}

/* -----------Events----------- */
#social_media a i:hover {
  transform: scale(1.1);
  color: darkblue;
}

@media (min-width: 768px) {
  .footer {
    /* padding: 2rem 4rem; */
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
  }

  .location {
    width: 35%;
    border: none;
  }
}
