#appointment_form {
  background-image: url("../../images/reception.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* margin-top: 2rem; */
}

#appointment_form .cover {
  background-color: rgb(35, 43, 43, 0.6);
  padding: 2rem 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 5px;
  padding: 1.2rem 1rem;
  font-family: "Ubuntu";
  animation: animate_form 0.8s ease-in-out;
}

form h2 {
  color: white;
  /* font-weight: 400; */
  letter-spacing: 0.8px;
  text-align: center;
  font-size: 2.5rem;
}

form .field input,
form textarea {
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 12px 1rem;
  border-radius: 3px;
  border: 1px solid #9ba5b3;
  box-shadow: 2px 2px 1rem -10px black;
  outline: none;
}
form .field label {
  color: white;
  margin-bottom: 3px;
}

form .field input::placeholder,
form textarea::placeholder {
  color: #9ba5b3;
  font-weight: 400;
  font-size: 0.8rem;
}

form button {
  color: white;
  background: #673de6;
  border: none;
  padding: 1rem;
  border-radius: 5px;
}

/* ---------Animation--------- */

@keyframes animate_form {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
  form {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 800px) {
  #appointment_form .cover {
    padding: 4rem 0;
    /* margin-top: 5rem; */
  }

  form {
    width: 30%;
    margin: 0 auto;
    padding: 2rem;
  }

  form .field input,
  form textarea {
    /* padding: 12px 1rem; */
    font-size: 1.1rem;
  }

  form button {
    width: max-content;
  }
}
