h2.secondary_heading {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  color: #082032;
  /* padding: 0 0.8rem; */
  font-family: "B612", sans-serif;
}

h2.secondary_heading span {
  display: block;
  height: 12px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
  transform: translateY(-15px);
  background: #fcd675de;
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
  h2.secondary_heading {
    font-size: 2.5rem;
  }

  h2.secondary_heading span {
    height: 15px;
    transform: translateY(-1.2rem);
  }
}
