.about_doc {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.about_doc h2 span {
  width: 8rem;
}

.about_doc .image img {
  width: 90%;
}

.about_doc .description {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.about_doc .description h3 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
  color: #343d48;
  font-family: "B612";
}

.about_doc .description a.button {
  margin: 1rem 0;
}
